*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
 
  display: flex;  
  align-items: center;
  padding:20px;
}
nav{
 flex: 1;
 text-align: right;
    
}
nav ul{
    list-style: none;
    display: block;
}
nav li{
    display: inline-block;
    padding-right: 30px;
}
nav li a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    
}
nav  li a .cart{
    width: 40px;
    
}